<form #tweetForm="ngForm" (ngSubmit)="tweet()" autocomplete="off">
  <h2 class="text-center text-primary">Tweet</h2>
  <hr />
  <div class="mb-3 form-floating">
    <input
      type="text"
      class="form-control"
      name="title"
      [(ngModel)]="tweetDto.title"
      placeholder="title"
    />
    <label>Title</label>
  </div>
  <div class="mb-3 form-floating">
    <textarea
      type="text"
      class="form-control"
      name="question"
      [(ngModel)]="tweetDto.question"
      placeholder="question"
      style="height: 100px"
    ></textarea>
    <label>Question</label>
  </div>
  <div class="mb-3 form-floating">
    <input
      type="text"
      class="form-control"
      name="language"
      [(ngModel)]="tweetDto.language"
      placeholder="language"
    />
    <label>Language</label>
  </div>
  <div class="mb-3">
    <input
      type="number"
      class="form-control"
      name="characteres"
      [(ngModel)]="tweetDto.characteres"
      style="width: 80px"
    />
    <label>Answer Length</label>
  </div>
  <div class="mb-3">
    <input
      type="number"
      class="form-control"
      name="hashtags"
      [(ngModel)]="tweetDto.hashtags"
      style="width: 80px"
    />
    <label>Answer hashtags</label>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Tweet</button>
    <button class="btn btn-default me-2" (click)="cancel()" type="submit">
      Cancel
    </button>
  </div>
</form>

<div class="text-align: center">
  <ul>
    <li *ngFor="let user of users">
      {{ user.tweets[0]?.title }}
    </li>
  </ul>
</div>
